# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:1234@pg:5432/traccar?schema=public"
GOOGLE_API_KEY='abcdefg'
KAKAO_API_KEY='KakaoAK abcdef'